/* import form fonts.css file */

@import url(./fonts.css);

/* import from variabel css */
@import url(./partials/_variable.css);

/* start navigation */

.header_area .main-menu .navbar .navbar-brand {
    padding: 0 2rem 0 5rem;
}
.header_area .main-menu .navbar {
    padding: 1rem 20rem;
}

.header_area .main-menu .nav-item .nav-link {
    font: normal 500 15px/2px var(--oxanium);
    font-family: var(--oxanium);
    text-transform: uppercase;
    font-weight: 500;
    padding: 1.7rem;
    color: black;
}

.header_area .main-menu .navbar-nav .active a {
    background; var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    background-clip: text;
}

.header_area .main-menu .navbar-nav a:hover {
    background; var(--gradient-color);
    -webkit-background-clip: text;
    -webkit-text-fill-color: black;
    background-clip: text;
}

/* end navigation */